
*{
    margin:0px;
    padding:0px;
}
 /* .col col-12 col-sm-12{
    margin:0px;
    padding:0px;
    
} */
.caros{
    background-position:fixed;
    border-bottom:1px solid red;
}
 .mainhead{
    /* text-align:top; */
    max-width:900px;
    left:90%;
    top: 28%;
    right:0px;
    bottom: 50%; 
    
} 
.mainhead p{
    font-family:"Sofia"; 
    color: gold ;
}
.mainhead h1{
    font-family: 'Oleo Script Swash Caps'; 
    text-shadow: 5px 5px 4px rgb(168, 56, 168); 
    color: lawngreen;
    font-style: oblique;
    font-weight: bold;
    font-size: 60px;
}
.caption{ 
    text-align: bottom left;
    max-width: 450px;
    bottom:0px;
    right:80%;
    top:60%; 
    font-family:"Sofia"; 
}
.carousel-caption h5{
    font-family: 'Oleo Script Swash Caps';
    color: orange ;
}
.carousel-caption h2{
    font-family:"Sofia";
    color: khaki;

}
#p1{
    color: chartreuse;
}
#p2{
    color: greenyellow;
}
.logo img{
    position: absolute;
    height: 60px;
    width: 70px;
    margin-left:0px;
    margin-right: 10%;
    margin-top: 0px; /*23.4%*/
    
    /* border: 1px solid black; */
}
.contain{
    position: absolute;
    margin-left:40%;
    margin-top:280px;
    margin-right:0px;
    width: auto;
  } 
  
.nav-item{
    float:left;
    font-size: 23px;
    text-shadow: 4px 4px 6px rgb(148, 57, 57);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* .carousel-bullet li{
    list-style-type: circle;
    display: flex;
  } */
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}