*{
        margin:0px;
        padding:0px;
}
body{
    background-image: url("image/l4.jpg");
    background-size: cover;
}
.nav-item{
    float:left;
    font-size: 20px;
    text-shadow: 2px 2px 4px whitesmoke;
    text-align: center;
    padding: 16px 18px;
    font-weight: bold;
    font-style: italic;
}
#p3{
    margin-left:550px;
    margin-right: 0px;
}
.container{
    margin-top: 10%;
}
h2{
    font-family:'sofia';
    color: blue;
    font-size: 60px;
    text-shadow: 2px 2px 4px yellowgreen;
    font-style: oblique;
    font-weight: bolder;

}
.labels{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkred;
    text-shadow: 2px 2px 4px yellowgreen;
    font-size: 30px;

}
.textboxs{
    border-color: goldenrod;
}
#p5{
    color: white;
    text-decoration: white;
    font-weight: bold;
}

/* #p4{
    margin-right: 1px;
} */